.Login-btn{
    border: none;
    background-color: transparent;
    font-size: 22px;
}
.Login-btn:hover{
    color:#3498db;
}
.Login-menu{
    position: fixed;
    margin: 0;
    background-color: rgb(77, 77, 77);
    font-size: 30px;
    z-index: 101;
    width: 30%;
    transform: translateX(-130%);
    top: -100%;
    height: 50%;
    transition: all 0.3s ease-in-out;
}
.Login-menu.active{
    top: 30%;
}
.Login-menu .Login-header{
    padding-bottom: 25px;
    padding-top: 10px;
}
.Login-menu .Login-header svg{
    cursor: pointer;
    margin-left: 20px;
}
.Login-menu .Login-item{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 30px;
    color: aliceblue;
}
.overlay{
    display: none;
}
.overlay.active{
    display: block;
    position:fixed;
    z-index:50;
    left:0;
    top:0;
    background:#00000056;
    height:100%;
    width: 100%;
}
.PX770 .Login{
    display: none;
}
@media (max-width:1000px) {
    .Login-menu{
        width: 50%;
    }
}
@media (max-width:770px) {
    .Login{
        display: none;
    }
    .PX770 .Login{
        display: block;
    }
}