.Opinions{
    height: 180px;
}
.Opinions-card{
    border-radius: 4%;
    box-shadow: inset 0px 0px 8px 0px rgba(77, 77, 77, 0.275);
    text-transform: capitalize;
    padding: 8px;
    height: 120px;
}
.Opinions-card p{
    color: rgba(59, 59, 59, 0.618)
}
.swiper{
    height: 100%;
}